@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #b4d3b2;
  --foreground: #FAF3E0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
